.navbar__dropdown-container {
  position: relative;
}

.navbar__dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: #242831;
  padding: 0.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  border-radius: 10px;
}

.navbar__dropdown-item {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #17181b;
  }
}
