@use "../../styles/mixins.scss" as *;

.project {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project__card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #17181b;
  border: 1px solid #242831;
  border-radius: 10px;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    gap: 2em;
  }
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.project__category {
  display: flex;
  align-items: center;
}

.project__img {
  width: 100%;
  border-radius: 10px 10px 0 0;

  @include tablet {
    width: 40%;
  }
}

.project__dev {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}
