@use "./typography" as *;
@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

:root {
  background-color: #080808;
  padding: 2em;
}

a {
  text-decoration: none;
  color: $primary-text;
}

a:visited {
  color: inherit;
}

h1 {
  font-family: "Syne";
  font-size: 100px;
  color: $primary-text;
}

body {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  color: $primary-text;
}
