@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

:root {
  background-color: #080808;
  contain: content;
}

a {
  text-decoration: none;
  color: $primary-text;
}

a:visited {
  color: inherit;
}

h1 {
  font-family: "Syne";
  font-size: 40px;
  color: $primary-text;

  @include desktop {
    font-size: 100px;
  }
}

h2 {
  font-family: "Syne";
  font-size: 24px;
  color: $primary-text;

  @include tablet {
    font-size: 36px;
  }
}

h3 {
  font-family: "Syne";
  font-size: 20px;
  color: $primary-text;

  @include tablet {
    font-size: 24px;
  }
}

h4 {
  font-family: "Syne";
  font-size: 18px;
  color: $primary-text;

  @include tablet {
    font-size: 20px;
  }
}

body {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  color: $primary-text;
}

button {
  background-image: linear-gradient(to right, #bfbfff 0%, #8db8f9 100%);
  background-position: left;
  transition: background-position 1s;
  height: 40px;
  border-radius: 20px;
  border: none;
  width: 160px;
  color: black;
  cursor: pointer;

  &:hover,
  &:focus {
    background-image: linear-gradient(to right, #ffbf7f 0%, #f98dbf 100%);
  }

  &:disabled {
    background-color: grey !important;
    cursor: not-allowed;
  }
}
