@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin background-primary {
  background-color: #2d2d2d;
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;
}

@mixin text-primary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

@mixin global-padding {
  padding: 1em;
  @include tablet {
    padding: 3em;
  }
}
