@use "../../styles/mixins" as *;

.navbar {
  display: flex;
  align-items: center;
  @include global-padding;
}

.navbar__link {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
}
