.stack {
  overflow: hidden;
  min-width: 100%;
}

.stack__wrapper {
  display: flex;
  gap: var(--gap, 3em);
  animation: scroll 20s linear infinite;
  width: calc(200% + 3em);
  min-width: 100%;
}

.stack__wrapper:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 3em));
  }
}
