@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

// .card {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 1em;
//   text-align: center;
//   border: 1px #1c1c1c solid;
//   padding: 2%;
//   border-radius: 40px;
//   width: 30%;
//   background-color: #1c1c1c;
// }

.card__all {
  display: flex;
  flex-direction: column;
  gap: 1em;
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
  border: 1px #1c1c1c solid;
  padding: 5%;
  border-radius: 40px;
  background-color: #1c1c1c;
  margin: 1em 0;

  @include desktop {
    padding: 2%;
    max-width: 30%;
  }
}

.card__img {
  height: 100px;
}

.about__paragraph {
  width: 100%;

  @include tablet {
    width: 50%;
  }
}
